@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 240 5.9% 10%;
    --secondary: 240 4.8% 95.9%;
    --background: 0 0% 93.73%;
    --background-secondary: #c8dde3;
    --button: #097fa5;
    --button-text: #fff;
    --text-secondary: #3c3c3c;
    --dropdown: #e0f4ff;
    --dropdown-hover: #b3e5ff;
    --button-secondary: #e7e7e7;
    --selected: #9ec6ff;
    --logo-shadow: #053949;
    --logo-body: #00d8fe;
    --span-bg: linear-gradient(to right, #4e4e9e, #097fa5, #3e87ed);
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary-foreground: 0 0% 98%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --primary: 0 0% 98%;
    --secondary: 240 3.7% 15.9%;
    --background: 240 10% 3.9%;
    --background-secondary: #1b1b1b;
    --button: #097fa5;
    --button-text: #fff;
    --text-secondary: #bbbbbb;
    --dropdown: #2d2d2d;
    --dropdown-hover: #454545;
    --button-secondary: #1d1d1d;
    --selected: #324e70;
    --logo-shadow: #0a2e36;
    --logo-body: #097fa5;
    --span-bg: linear-gradient(to right, #8c00ff, #0fb4e1, #a1d930, #ae0000);
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  *:lang(ar) {
    font-family: var(--rubik) !important;
  }
  *:lang(fa) {
    font-family: var(--rubik) !important;
  }
  div::selection,
  h1::selection,
  button::selection,
  p::selection,
  span::selection,
  a::selection,
  h2::selection {
    background-color: #f5df9c;
    color: #008756;
  }
  body {
    @apply bg-background text-primary;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
